@page
@using TOS.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Login_Heading"];
}

<h1>@SharedLocalizer["Login_Heading"]</h1>
<div class="row">
    <div class="col-md-6 mx-auto">
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="" />
                <label asp-for="Input.Username" class="form-label">@SharedLocalizer["Login_Username"]</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="" />
                <label asp-for="Input.Password" class="form-label">@SharedLocalizer["Password"]</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <label asp-for="Input.RememberMe" class="form-check-label">@SharedLocalizer["Login_RememberMe"]</label>
                <input class="form-check-input" asp-for="Input.RememberMe" />
            </div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@SharedLocalizer["Login_Submit"]</button>
        </form>
        <div>
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">@SharedLocalizer["Login_ForgotPassword"]</a>
            </p>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
