@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel

@{
    ViewData["Title"] = SharedLocalizer["Login_Heading"];
}


<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>@SharedLocalizer["Login_Heading"]</h1>
        <p class="text-secondary">
            @SharedLocalizer["Login_Info"]
        </p>
        <hr/>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @if ((bool) (ViewData["ShowStagPassword"] ?? false) == false)
            {
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder=""/>
                    <label asp-for="Input.Username" class="form-label">@SharedLocalizer["Login_Username"]</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="" value="@((string?) ViewData["Password"] ?? "")"/>
                    <label asp-for="Input.Password" class="form-label">@SharedLocalizer["Login_Password_ActiveDirectory"]</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            }
            @if ((bool) (ViewData["ShowStagPassword"] ?? false))
            {
                <p class="text-primary">
                    @SharedLocalizer["Login_PasswordStag_Info"]
                </p>

                <div class="form-floating mb-3">
                    <input asp-for="Input.PasswordStag" class="form-control" autocomplete="current-password" aria-required="true" placeholder=""/>
                    <label asp-for="Input.PasswordStag" class="form-label">@SharedLocalizer["Login_Password_Stag"]</label>
                    <span asp-validation-for="Input.PasswordStag" class="text-danger"></span>
                </div>
                
                <input asp-for="Input.Username" type="hidden" autocomplete="username" aria-required="true" placeholder=""/>
                <input asp-for="Input.Password" type="hidden" autocomplete="current-password" aria-required="true" placeholder="" value="@((string?) ViewData["Password"] ?? "")"/>
                <input asp-for="Input.RememberMe" type="hidden"/>
            }
            @if ((bool) (ViewData["ShowStagPassword"] ?? false) == false)
            {
                <div class="form-check mb-3">
                    <label asp-for="Input.RememberMe" class="form-check-label">@SharedLocalizer["Login_RememberMe"]</label>
                    <input class="form-check-input" asp-for="Input.RememberMe"/>
                </div>
            }
            
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@SharedLocalizer["Login_Submit"]</button>
        </form>
        
        @if ((bool) (ViewData["ShowStagPassword"] ?? false) == false)
        {
            <div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">@SharedLocalizer["Login_ForgotPassword"]</a>
                </p>
            </div>
        }
        
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
