@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterModel

@{
    ViewData["Title"] = SharedLocalizer["Register_Heading"];
}

<h1>@SharedLocalizer["Register_Heading"]</h1>

<div class="row g-3">
    <div class="col-md-6 mx-auto">
        <p class="text-danger">@SharedLocalizer["Register_Info"]</p>
        <hr />
        @if (ViewData["Register_Duplicate_Username"] != null)
        {
            <p class="text-danger">@ViewData["Register_Duplicate_Username"]</p>
        }
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder=""/>
                <label asp-for="Input.Email">@SharedLocalizer["Email"]*</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="row g-0">
                <div class="form-floating mb-3 col-lg">
                    <input asp-for="Input.Firstname" class="form-control" autocomplete="given-name" aria-required="false" placeholder=""/>
                    <label asp-for="Input.Firstname">@SharedLocalizer["Firstname"]*</label>
                    <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-lg">
                    <input asp-for="Input.Lastname" class="form-control" autocomplete="family-name" aria-required="false" placeholder=""/>
                    <label asp-for="Input.Lastname">@SharedLocalizer["Lastname"]*</label>
                    <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DisplayName" class="form-control" aria-required="false" placeholder=""/>
                <label asp-for="Input.DisplayName">@SharedLocalizer["DisplayName"]</label>
                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder=""/>
                <label asp-for="Input.Password">@SharedLocalizer["Password"]*</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder=""/>
                <label asp-for="Input.ConfirmPassword">@SharedLocalizer["ConfirmPassword"]*</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@SharedLocalizer["Register"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
