@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Globalization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TOS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/dselect/css/dselect.scss">
    <script src="https://kit.fontawesome.com/4afee75a5b.js" crossorigin="anonymous"></script>
    
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["NavHome"]</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-area="">
                            @SharedLocalizer["Topics"]
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Topic" asp-action="Index" asp-route-groupName="Bachelor" asp-route-showTakenTopics="false">@SharedLocalizer["Topics_Bachelor"]</a></li>
                            <li><a class="dropdown-item" asp-controller="Topic" asp-action="Index" asp-route-groupName="Master" asp-route-showTakenTopics="false">@SharedLocalizer["Topics_Master"]</a></li>
                            @if (User.IsInRole("Topic") || User.IsInRole("AnyTopic"))
                            {
                                <li><a class="dropdown-item" asp-controller="Topic" asp-action="Unassigned" asp-route-groupName="Unassigned" asp-route-showHidden="true" asp-route-showProposed="true">@SharedLocalizer["Topics_Unassigned"]</a></li>
                            }
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Group" asp-action="Index">@SharedLocalizer["NavGroups"]</a>
                    </li>
                    
                    @if (User.IsInRole("External"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Propose" asp-controller="Topic">@SharedLocalizer["Propose topic"]</a>
                        </li>
                    }
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="MyTopics" asp-controller="Topic">@SharedLocalizer["MyTopics"]</a>
                        </li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-area="">
                                @SharedLocalizer["Administration"]
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Administration" asp-action="Users">@SharedLocalizer["Administration_Users"]</a></li>
                                <li><a class="dropdown-item" asp-controller="Administration" asp-action="Programmes">@SharedLocalizer["Administration_Programmes"]</a></li>
                                <li><a class="dropdown-item" asp-controller="Administration" asp-action="Notifications">@SharedLocalizer["Administration_Notifications"]</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <partial name="_Darkmode"/>
                <partial name="_Culture"/>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@functions{

    private static string SelectStringByLanguage(string cz, string eng)
    {
        @if (CultureInfo.CurrentCulture.Name.Contains("cz"))
        {
            return cz;
        }
        return eng;
    }
}
