@model TOS.Models.Comment

<form asp-action="AddComment">
    <input type="hidden" asp-for="TopicId" value="@Model.TopicId"/>
    @if (Model.ParentCommentId != null)
    {
         <input type="hidden" asp-for="ParentCommentId" value="@Model.ParentCommentId"/>
    }
    <div class="md-3">
        <textarea asp-for="Text" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    @if (User.IsInRole("AnonymousComment"))
    {
        <div class="form-check">
            <label class="form-check-label" for="Anonymous">@SharedLocalizer["Anonymous"]</label>
            <input type="checkbox" class="form-check-input" id="Anonymous" asp-for="Anonymous" value="true"/>
        </div>
    }
    <div class="d-flex justify-content-end">
        <!--<a href="javascript:;" class="ReplyButton" value="" onclick="ReplyButtonClick('@Model.ParentCommentId')">@SharedLocalizer["Cancel"]</a>-->
        <input type="submit" value="@SharedLocalizer["Comments_Submit"]" class="btn btn-primary mt-1"/>
    </div>
</form>
