@using TOS.Extensions
@model TOS.Models.Topic

<article class="position-relative border-bottom">
    <header>
        <h3 class="h4"><a asp-controller="Topic" asp-action="Details" asp-route-id="@Model.TopicId">@Html.SelectStringByLanguage(Model.NameEng, Model.Name)</a></h3>
        @if (Model.Visible == false)
        {
            <span class="badge bg-danger">@SharedLocalizer["Hidden topic"]</span>
        }
        @if (Model.AssignedId == null)
        {
            <span class="badge bg-success">@SharedLocalizer["Free topic"]</span>
        }
        else
        {
            if (Model.AssignedStudent?.UserName == User.Identity!.Name)
            {
                <span class="badge bg-success">@SharedLocalizer["Your topic"]</span>
            }
            else
            {
                <span class="badge bg-danger">@SharedLocalizer["Taken topic"]</span>
            }
        }
        @if (Model.Proposed)
        {
            <span class="badge bg-success">@SharedLocalizer["Proposed topic"]</span>
        }
        @if (Model.Creator.UserRoles.Any(x => x.Role.Name!.Equals("External")))
        {
            <span class="badge bg-success">@SharedLocalizer["External topic"]</span>
        }
        <span class="badge rounded-pill bg-secondary">@Model.UserInterestedTopics.Count</span>
    </header>
    
    <p>@Html.SelectStringByLanguage(Model.DescriptionShortEng!, Model.DescriptionShort)</p>
</article>