@using TOS.Extensions
@model TOS.Models.Topic

<article class="position-relative border-bottom">
    <h3 class="h4"><a asp-controller="Topic" asp-action="Details" asp-route-id="@Model.TopicId">@Html.SelectStringByLanguage(Model.NameEng, Model.Name)</a></h3>
    @if (Model.SupervisorId != null)
    {
        <p>@Model.Supervisor!.GetDisplayName()</p>
    }
    @if (Model.Visible == false)
    {
        <span class="badge bg-danger">@SharedLocalizer["Hidden topic"]</span>
    }
    @if (Model.Proposed)
    {
        <span class="badge bg-success">@SharedLocalizer["Proposed topic"]</span>
    }
    else
    {
        @if (Model.AssignedId == null)
        {
            <span class="badge bg-success">@SharedLocalizer["Free topic"]</span>
        }
        else
        {
            <span class="badge bg-danger">@SharedLocalizer["Taken topic"]</span>
        }
    }
    @foreach (var programme in Model.TopicRecommendedPrograms.Select(x=>x.Programme))
    {
        <span class="badge bg-secondary">@Html.SelectStringByLanguage(programme.NameEng, programme.Name)</span>
    }
    <span class="badge rounded-pill bg-secondary">@Model.UserInterestedTopics.Count</span>
    
    <p>@Html.SelectStringByLanguage(Model.DescriptionShortEng!, Model.DescriptionShort)</p>
</article>