@using Microsoft.AspNetCore.Mvc.Localization
@using TOS.Resources
@using System.Collections
@using System.Globalization
@model TOS.Models.Topic

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="NameEng" class="control-label"></label>
                    <input asp-for="NameEng" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DescriptionShort" class="control-label"></label>
                <input asp-for="DescriptionShort" class="form-control" />
                <span asp-validation-for="DescriptionShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionShortEng" class="control-label"></label>
                <input asp-for="DescriptionShortEng" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLong" class="control-label"></label>
                <input asp-for="DescriptionLong" class="form-control" />
                <span asp-validation-for="DescriptionLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLongEng" class="control-label"></label>
                <input asp-for="DescriptionLongEng" class="form-control" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visible" checked/> @Html.DisplayNameFor(model => model.Visible)
                </label>
            </div>
            
           <div class="form-group">
               <label>@SharedLocalizer["Supervisor"]</label>
               <select class="form-control" id="ddlSupervisor" asp-for="SupervisorId" asp-items="ViewBag.Supervisors">
                   <option value="null">@SharedLocalizer["Unassigned option"]</option>
               </select>
           </div>
           
           <div class="form-group">
               <label>@SharedLocalizer["Assigned student"]</label>
               <select class="form-control" id="ddlAssigned" asp-for="AssignedId" asp-items="ViewBag.Students">
                   <option value="null">@SharedLocalizer["Unassigned option"]</option>
               </select>
           </div>
            
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class ="form-control" asp-items="ViewBag.Groups" onchange="RefreshProgrammes()"></select>
            </div>

            <hr/>

            @if (ViewData["Programmes"] != null)
            {
                <div class="form-group">
                    <ul>
                        @foreach (var programme in (IEnumerable<Programme>) ViewData["Programmes"]!)
                        {
                            <li class="Programme @programme.Type">
                                <input type="checkbox" name="programmes" value="@programme.ProgrammeId"/>
                                @if (CultureInfo.CurrentCulture.Name.Contains("cz"))
                                {
                                    <label>@programme.Name</label>
                                }
                                else
                                {
                                    <label>@programme.NameEng</label>
                                }
                            </li>
                        }   
                    </ul>
                </div>
                <hr/>
            }
            
             <div>
                <h2>@SharedLocalizer["Attachments"]</h2>
                 <!-- FILE SELECT-->
                <input type="file" name="files" multiple>
             </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script>
           window.onload = function () {
               RefreshProgrammes(true);
           }
       
           function RefreshProgrammes(skip = false){
               var programmes = document.getElementsByClassName("Programme");
               //Hide all programmmes and unselect all checkboxes
               for (var i = 0; i < programmes.length; i++) {
                   programmes[i].style.display = "none";
                   if (!skip)
                       programmes[i].getElementsByTagName("input")[0].checked = false;
               }
               
               //Get selected group selected option name
               //ChatGPT
               const selectElement = document.querySelector('#GroupId');
               const selectedOption = selectElement.options[selectElement.selectedIndex];
               const groupName = selectedOption.text;
               
               console.log(groupName);
               
                var bachelorProgrammes = document.getElementsByClassName("Bachelor");
                var masterProgrammes = document.getElementsByClassName("Master");
                var toShow = [];
                
                if (groupName == "Bachelor" || groupName == "Bakalářská"){
                    toShow = bachelorProgrammes;
                }
                else if (groupName == "Master" || groupName == "Magisterská"){
                     toShow = masterProgrammes;
                }
                
                for (var i = 0; i < toShow.length; i++) {
                    toShow[i].style.display = "block";
                }
           }
       </script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
         $(function () {
            $("#ddlSupervisor").select2();
            $("#ddlAssigned").select2();
         });
    </script>
}
