@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Routing
@using TOS.Resources
@model TOS.Models.Topic

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script>
    $(document).ready(function (){
        $("#btn-interest").on("click", function (){
            var formData = new FormData();
            var topicId = @Model.TopicId;
            var url = '@Url.Action("Interest", "Topic")' + "?topicId=" + topicId;
            $.ajax({
            type: 'GET',
            url: url,
            contentType: false,
            processData: false,
            cache: false,
            success: function (response) {
                var element = $("#btn-interest");
                element = element[0];
                
                console.log(element);
                if (element.classList.contains("interested")){
                    element.innerHTML = "@SharedLocalizer["Add interest"]";
                    element.classList.remove("interested");
                    element.classList.add("not-interested");
                    console.log("User removed interest from this topic");
                }
                else if (element.classList.contains("not-interested")){
                    element.innerHTML = "@SharedLocalizer["Remove interest"]";
                    element.classList.remove("not-interested");
                    element.classList.add("interested");
                    console.log("User interested in this topic");
                }
                else{
                    console.log("Error");
                }
                 console.log(response);  
                //$("#btn-interest").text("SharedLocalizer["Remove interest"]");
            },
             error: function (response){
                console.log("Ajax failed");
                }
            });
        });
    });
    </script>
}


<h1>Details</h1>

<a href="javascript:void(0)" class="btn btn-primary @ViewData["UserInterestClass"]" id="btn-interest">@ViewData["UserInterestString"] </a>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supervisor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedStudent.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TopicId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
