@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Data
@using TOS.Extensions
@model TOS.Models.Topic

@{
    ViewData["Title"] = SharedLocalizer["Topic_Edit_Heading"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Topic_Edit_Heading"] - @Html.SelectStringByLanguage(Model.NameEng, Model.Name)</h1>

@{
    var data = new Tuple<int, string, string, string, string, string, string>
        (Model.TopicId, "Delete",
            SharedLocalizer["Topic_Edit_Delete"].Value, SharedLocalizer["Topic_Edit_Delete_Title"].Value,
            SharedLocalizer["Topic_Edit_Delete_Body"].Value, SharedLocalizer["Topic_Edit_Delete_Cancel"].Value, SharedLocalizer["Topic_Edit_Delete_Confirm"].Value);
        
    <partial name="DeleteModal" model="@data"/>
}

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TopicId" />
    <input type="hidden" asp-for="CreatorId" />
    <input type="hidden" asp-for="Type"/>
    <input type="hidden" asp-for="Proposed"/>
    <input type="hidden" name="oldAssigned" value="@ViewData["OldAssigned"]"/>
            
    <div class="mb-3">
        <label asp-for="Name" class="form-label">@SharedLocalizer["Topic_Create_Name"]*</label>
        <input asp-for="Name" class="form-control" autocomplete="off"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NameEng" class="form-label">@SharedLocalizer["Topic_Create_NameEng"]</label>
        <input asp-for="NameEng" class="form-control" autocomplete="off"/>
        <span asp-validation-for="NameEng" class="text-danger"></span>
    </div>
    <div cclass="mb-3">
        <label asp-for="DescriptionShort" class="form-label">@SharedLocalizer["Topic_Create_DescriptionShort"]*</label>
        <textarea asp-for="DescriptionShort" class="form-control"></textarea>
        <span asp-validation-for="DescriptionShort" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DescriptionShortEng" class="form-label">@SharedLocalizer["Topic_Create_DescriptionShortEng"]</label>
        <textarea asp-for="DescriptionShortEng" class="form-control"></textarea>
        <span asp-validation-for="DescriptionShortEng" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DescriptionLong" class="form-label">@SharedLocalizer["Topic_Create_DescriptionLong"]</label>
        <textarea asp-for="DescriptionLong" class="form-control" style="height: 100px;"></textarea>
        <span asp-validation-for="DescriptionLong" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DescriptionLongEng" class="form-label">@SharedLocalizer["Topic_Create_DescriptionLongEng"]</label>
        <textarea asp-for="DescriptionLongEng" class="form-control" style="height: 100px;"></textarea>
        <span asp-validation-for="DescriptionLongEng" class="text-danger"></span>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-xl">
        <label asp-for="SupervisorId" class="form-label">@SharedLocalizer["Topic_Create_Supervisor"]</label>
        <select class="form-select" id="dSupervisor" asp-for="SupervisorId">
            <option value="null">@SharedLocalizer["Unassigned option"]</option>
            @foreach (var user in (IEnumerable<ApplicationUser>)ViewData["UsersToSupervise"]!)
            {
                <option value="@user.Id">@user.GetDisplayName() (@user.Email)</option>
            }
        </select>
    </div>
    
     @if ((TopicType) ViewData["TopicType"]! != TopicType.Homework)
     {
         <div class="col-xl">
            <label asp-for="AssignedId" class="form-label">@SharedLocalizer["Topic_Create_Assigned"]</label>
            <select class="form-select" id="dAssigned" asp-for="AssignedId">
                <option value="null">@SharedLocalizer["Unassigned option"]</option>
                @foreach (var user in (IEnumerable<ApplicationUser>)ViewData["UsersToAssign"]!)
                {
                    <option value="@user.Id">@user.GetDisplayName() (@user.Email)</option>
                }
            </select>
        </div>
    }
    </div>
    
    <div class="mb-3">
        <label asp-for="GroupId" class="form-label">@SharedLocalizer["Topic_Create_Group"]</label>
        <select asp-for="GroupId" class="form-select" onchange="RefreshProgrammes()">
            @foreach (Group group in ViewBag.Groups)
            {
                @if (group.Highlight)
                {
                    <option value="@group.GroupId" selected>@Html.SelectStringByLanguage(group.NameEng, group.Name)</option>
                }
                else
                {
                    <option value="@group.GroupId">@Html.SelectStringByLanguage(group.NameEng, group.Name)</option>
                }
            }
        </select>
    </div>

    @if ((TopicType) ViewData["TopicType"]! == TopicType.Thesis)
    {
        <hr/>
        @if (ViewData["Programmes"] != null)
        {
            <span>@SharedLocalizer["Topic_Create_RecommendedProgrammes"]</span>
            <div class="form-check">
                @foreach (var programme in (IEnumerable<Programme>) ViewData["Programmes"]!)
                {
                    <div class="Programme @programme.Type">
                        @if (programme.Selected)
                        {
                            <input class="form-check-input" id="@programme.NameEng" type="checkbox" name="programmes" value="@programme.ProgrammeId" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" id="@programme.NameEng" type="checkbox" name="programmes" value="@programme.ProgrammeId"/>
                        }
                        <label for="@programme.NameEng">@Html.SelectStringByLanguage(programme.NameEng, programme.Name)</label>
                    </div>
                }
            </div>
            <hr/>
        }
    }
    
    <!--Attachments-->
    @if (User.IsInRole("Attachment") || User.IsInRole("AnyAttachment"))
    {
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">@SharedLocalizer["Topic_Create_Attachment"]</label>
            <input type="file" id="formFileMultiple" class="form-control" name="files" multiple>
        </div>
        <div class="d-flex flex-wrap">
            @foreach (var attachment in Model.Attachments)
            {
                <div class="border border-dark rounded p-2 m-2 col-auto">
                    <h4>@attachment.Name</h4>
                    @attachment.Creator.Email
                    <a asp-action="DeleteAttachment" asp-route-attachmentId="@attachment.AttachmentId">@SharedLocalizer["Topic_Edit_Attachment_Delete"]</a>
                    @{
                   
                        var data = new Tuple<int, string, string, string, string, string, string>
                            (attachment.AttachmentId, "DeleteAttachment",
                                SharedLocalizer["Topic_Attachment_Delete"].Value, SharedLocalizer["Topic_Attachment_Delete_Title"].Value,
                                SharedLocalizer["Topic_Attachment_Delete_Body"].Value, SharedLocalizer["Topic_Attachment_Delete_Cancel"].Value, SharedLocalizer["Topic_Attachment_Delete_Confirm"].Value);
                    }
                    <partial name="DeleteModal" model="data"/>
                </div>
            }
        </div>
    }
    
     <div class="form-check">
        <label class="form-check-label" asp-for="Visible">@SharedLocalizer["Topic_Create_Visible"]</label>
        <input class="form-check-input" asp-for="Visible" checked/>
    </div>
    
    <div class="mb-3">
        <a asp-controller="Topic" asp-action="Details" asp-route-id="@Model.TopicId" class="btn btn-secondary">@SharedLocalizer["Cancel"]</a>
        <input type="submit" value="@SharedLocalizer["Topic_Edit_Submit"]" class="btn btn-primary"/>
    </div>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    
    <script>
        window.onload = function () {
            RefreshProgrammes(true);
        }
    
        function RefreshProgrammes(skip = false){
            var programmes = document.getElementsByClassName("Programme");
            //Hide all programmmes and unselect all checkboxes
            for (var i = 0; i < programmes.length; i++) {
                programmes[i].style.display = "none";
                if (!skip)
                    programmes[i].getElementsByTagName("input")[0].checked = false;
            }
            
            //Get selected group selected option name
            //ChatGPT
            const selectElement = document.querySelector('#GroupId');
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            const groupName = selectedOption.text;
            
            console.log(groupName);
            
             var bachelorProgrammes = document.getElementsByClassName("Bachelor");
             var masterProgrammes = document.getElementsByClassName("Master");
             var toShow = [];
             
             if (groupName === "Bachelor" || groupName === "Bakalářská"){
                 toShow = bachelorProgrammes;
             }
             else if (groupName === "Master" || groupName === "Magisterská"){
                  toShow = masterProgrammes;
             }
             
             for (i = 0; i < toShow.length; i++) {
                 toShow[i].style.display = "block";
             }
        }
    </script>
    
        <script type="text/javascript" src="~/lib/dselect/js/dselect.js"></script>
        <script type="text/javascript">
            $(function () {
                const config={
                search: true,
                placeholder: "@SharedLocalizer["Topic_Create_Placeholder"]",
                maxHeight: '200px'
                }
                //If #dAssigned is not null
                if (document.querySelector('#dAssigned') != null)
                    dselect(document.querySelector('#dAssigned'), config)
                dselect(document.querySelector('#dSupervisor'), config)
            });
        </script>
}

