@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Resources
@model TOS.Models.Topic

@inject IHtmlLocalizer<SharedResource> SharedLocalizer


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
Idr 
<h1>Edit</h1>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TopicId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionShort" class="control-label"></label>
                <input asp-for="DescriptionShort" class="form-control" />
                <span asp-validation-for="DescriptionShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLong" class="control-label"></label>
                <input asp-for="DescriptionLong" class="form-control" />
                <span asp-validation-for="DescriptionLong" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visible" /> @Html.DisplayNameFor(model => model.Visible)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <select asp-for="CreatorId" class="form-control" asp-items="ViewBag.CreatorId"></select>
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorId" class="control-label"></label>
                <select asp-for="SupervisorId" class="form-control" asp-items="ViewBag.SupervisorId"></select>
                <span asp-validation-for="SupervisorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedId" class="control-label"></label>
                <select asp-for="AssignedId" class="form-control" asp-items="ViewBag.AssignedId"></select>
                <span asp-validation-for="AssignedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId" onchange="RefreshProgrammes()"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            
            
             @if (ViewData["Programmes"] != null)
            {
                <div class="form-group">
                    <ul>
                        @foreach (var programme in (IEnumerable<Programme>) ViewData["Programmes"]!)
                        {
                            <li class="Programme @programme.Type">
                                @if(programme.Selected)
                                {
                                    <input type="checkbox" name="Programmes" value="@programme.ProgrammeId" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="Programmes" value="@programme.ProgrammeId" />
                                }
                                @if (CultureInfo.CurrentCulture.Name.Contains("cz"))
                                {
                                    <label>@programme.Name</label>
                                }
                                else
                                {
                                    <label>@programme.NameEng</label>
                                }
                            </li>
                        }   
                    </ul>
                </div>
                <hr/>
            }
            
             <div>
                <h2>@SharedLocalizer["Attachments"]</h2>
                <hr/>
                <!-- FILE SELECT-->
                 <input type="file" name="files" multiple>

                @foreach (var attachment in Model.Attachments)
                {
                    <div class="Attachment border border-dark rounded p-2 m-2">
                        <h4>@attachment.Name</h4>
                        @attachment.Creator.Email
                        <a asp-action="DeleteAttachment" asp-route-attachmentId="@attachment.AttachmentId" asp-route-topicId="@Model.TopicId">Delete</a>
                    </div>
                }
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts
{
    <script>
    
        window.onload = function () {
            RefreshProgrammes();
        }
    
        function RefreshProgrammes(){
            var programmes = document.getElementsByClassName("Programme");
            //Hide all programmmes
            for (var i = 0; i < programmes.length; i++) {
                programmes[i].style.display = "none";
            }
            
            //Get selected group selected option name
            //ChatGPT
            const selectElement = document.querySelector('#GroupId');
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            const groupName = selectedOption.text;
            
            console.log(groupName);
            
             var bachelorProgrammes = document.getElementsByClassName("Bachelor");
             var masterProgrammes = document.getElementsByClassName("Master");
             
            if (groupName == "Bachelor" || groupName == "Bakalářská"){
                //Unselect all Master checkboxes
                for (var i = 0; i < masterProgrammes.length; i++) {
                    masterProgrammes[i].getElementsByTagName("input")[0].checked = false;
                }
                
                //Show all Bachelor programmes
                for (var i = 0; i < bachelorProgrammes.length; i++) {
                    bachelorProgrammes[i].style.display = "block";
                }
            }
            else if (groupName == "Master" || groupName == "Magisterská"){
                //Unselect all Bachelor checkboxes
                for (var i = 0; i < bachelorProgrammes.length; i++) {
                    bachelorProgrammes[i].getElementsByTagName("input")[0].checked = false;
                }
                
                //Show all Master programmes
                for (var i = 0; i < masterProgrammes.length; i++) {
                    masterProgrammes[i].style.display = "block";
                }    
            }
            else{
                //Unselect all checkboxes
                for (var i = 0; i < programmes.length; i++) {
                    programmes[i].getElementsByTagName("input")[0].checked = false;
                }
                //Hide all programmes
                for (var i = 0; i < programmes.length; i++) {
                    programmes[i].style.display = "none";
                }
            }
        }
       
    </script>
}

