@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Data
@using TOS.Extensions
@model TOS.ViewModels.GroupViewModel

@{
    ViewData["Title"] = SharedLocalizer["Topic_Group_Heading"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Topic_Group_Heading"]</h1>
<p>
    @if((User.IsInRole("Group") && User.Identity!.Name == Model.Group.Creator.UserName) || User.IsInRole("AnyGroup"))
    {
        <a class="btn btn-primary" asp-controller="Group" asp-action="Edit" asp-route-id="@Model.Group.GroupId">@SharedLocalizer["Topic_Group_Edit"]</a>
    }
    @if (User.IsInRole("Topic") || User.IsInRole("AnyTopic"))
    {
        <a class="btn btn-primary" asp-action="Create" asp-route-groupName="@Model.Group.NameEng" asp-route-type="Homework">@SharedLocalizer["Topic_Group_CreateHomework"]</a>
        <a class="btn btn-primary" asp-action="Create" asp-route-groupName="@Model.Group.NameEng" asp-route-type="Project">@SharedLocalizer["Topic_Group_CreateProject"]</a>
    }
    @if (User.IsInRole("ProposeTopic"))
    {
        <a class="btn btn-primary" asp-action="Propose" asp-route-groupName="@Model.Group.NameEng" asp-route-type="Project">@SharedLocalizer["Topic_Group_ProposeProject"]</a>
    }
</p>

<partial name="Text" model="@Html.SelectStringByLanguage(Model.Group.DescriptionEng, Model.Group.Description)"/>

<hr/>
<form asp-action="Group" method="get">
    <input type="hidden" name="groupId" value="@Model.Group.GroupId"/>
    <div class="row g-1 align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control" name="searchString" placeholder="@SharedLocalizer["Topic_Index_Search_Placeholder"]" value="@Model.SearchString"/>
        </div>

        <div class="form-check col-auto">
            <label for="showTaken">@SharedLocalizer["Topic_Index_ShowTaken"]</label>
            @if (Model.ShowTakenTopics)
            {
                <input class="form-check-input" name="showTakenTopics" id="showTaken" type="checkbox" value="true" checked/>
            }
            else
            {
                <input class="form-check-input" name="showTakenTopics" id="showTaken" type="checkbox" value="true"/>
            }
        </div>

        <div class="col-auto">
            <input type="submit" class="btn btn-primary" value="@SharedLocalizer["Topic_Index_Search"]"/>
        </div>

    </div>

    @if (User.IsInRole("Topic") || User.IsInRole("AnyTopic"))
     {
         <div class="row g-3 align-items-center mx-auto">
             <div class="col-auto form-check">
                 <label for="showHidden">@SharedLocalizer["Topic_Index_ShowHidden"]</label>
                 @if (Model.ShowHiddenTopics)
                 {
                     <input class="form-check-input" name="showHidden" id="showHidden" type="checkbox" value="true" checked/>
                 }
                 else
                 {
                     <input class="form-check-input" name="showHidden" id="showHidden" type="checkbox" value="true"/>
                 }
             </div>

             <div class="col-auto form-check">
                 <label for="showProposed">@SharedLocalizer["Topic_Index_ShowProposedOnly"]</label>
                 @if (Model.ShowProposedTopics)
                 {
                     <input class="form-check-input" name="showProposed" id="showProposed" type="checkbox" value="true" checked/>
                 }
                 else
                 {
                     <input class="form-check-input" name="showProposed" id="showProposed" type="checkbox" value="true"/>
                 }
             </div>
         </div>
     }
</form>

<hr/>
@if (Model.Topics.Any(x => x.Type == TopicType.Homework))
{
    <h2 class="h3">@SharedLocalizer["Group_Homeworks"]</h2>

    @foreach (var hw in Model.Topics.Where(x => x.Type == TopicType.Homework))
    {
       <partial name="HomeworkPreview" model="hw"/>
    }
}

@if (Model.Topics.Any(x => x.Type == TopicType.Project))
{
    <h2 class="h3">@SharedLocalizer["Group_Projects"]</h2>
    @foreach (var project in Model.Topics.Where(x => x.Type == TopicType.Project))
    {
        <partial name="ProjectPreview" model="project"/>
    }
}