@using Microsoft.AspNetCore.Mvc.Localization
@using TOS.Resources
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Extensions
@model IEnumerable<TOS.Models.Topic>

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer[(string)ViewData["topicsIndexGroupName"]!]</h1>

@if (@ViewData["topicsIndexGroupId"] != null)
{
    <a asp-controller="Group" asp-action="Edit" asp-route-id="@ViewData["topicsIndexGroupId"]">Edit group</a>
}

<p>
    <a asp-action="Create" asp-route-groupName="@ViewData["topicsIndexGroupName"]">Create New Topic</a>
</p>

<form asp-action="Index" method="get">
    <input type="hidden" name="groupName" value="@ViewData["topicsIndexGroupName"]"/>
    <input type="text" name="searchString" placeholder="Search string..." value="@ViewData["searchString"]"/>
    <label>Show taken topics</label>
    @if((bool) ViewData["showTakenTopics"]!)
    {
        <input name="showTakenTopics" type="checkbox" value="true" checked/>
    }
    else
    {
        <input name="showTakenTopics" type="checkbox" value="true"/>
    }
    <select name="programmeName">
        <option value="">@SharedLocalizer["All programmes"]</option>
        @foreach (var programme in (List<Programme>) ViewData["programmes"]!)
        {
            @if ((string) ViewData["selectedProgramme"]! == programme.NameEng)
            {
                <option value="@programme.NameEng" selected>@Html.SelectStringByLanguage(programme.NameEng, programme.Name)</option>
            }
            else
            {
                <option value="@programme.NameEng">@Html.SelectStringByLanguage(programme.NameEng, programme.Name)</option>
            }
        }
    </select>
    <label>@SharedLocalizer["orderBy"]</label>
    <select name="orderBy">
        @if (!(bool) ViewData["customGroup"]!)
        {
            <!-- Display order by option for supervisor only for bachelor, master topics-->
            @Html.SelectOption("Supervisor", @SharedLocalizer["orderBySupervisor"].Value, (string) ViewData["orderBy"]!)
        }
        @Html.SelectOption("Name", @SharedLocalizer["orderByName"].Value, (string)ViewData["orderBy"]!)
        @Html.SelectOption("Interest", @SharedLocalizer["orderByInterest"].Value, (string)ViewData["orderBy"]!)
    </select>
    <input type="submit" value="Search"/>
</form>

<hr/>
@{ ApplicationUser lastSupervisor = null;}

@foreach (var topic in Model) {
    
    @if ((string) ViewData["orderBy"]! == "Supervisor")
    {
        @if (topic.Supervisor == null)
        {
            <h2>@SharedLocalizer["TopicsWithoutSupervisor"]</h2>
        }
        else
        {
            @if (lastSupervisor == null || lastSupervisor.Id != topic.Supervisor.Id)
            {
                <h2>@topic.Supervisor.DisplayName</h2>
                @{lastSupervisor = topic.Supervisor;}
            }
        }
    }
    
    <div class="topic">
        <div class="topic__name">
            <a asp-action="Details" asp-route-id="@topic.TopicId">
                <h3>@Html.SelectStringByLanguage(topic.NameEng, topic.Name)</h3>
            </a>
        </div>
        <!-- Don't show if orderBy is Supervisor-->
        @if ((string) ViewData["orderBy"]! != "Supervisor" && topic.Supervisor != null)
        {
            <div class="topic__supervisor">

                @Html.DisplayFor(modelItem => topic.Supervisor.FirstName)
                @Html.DisplayFor(modelItem => topic.Supervisor.LastName)

            </div>
        }
        <div class="topic__infoboxes">
            @if (topic.AssignedStudent == null)
            {
                <span class="infobox">@SharedLocalizer["Free topic"]</span>
            }
            else
            {
                <span class="infobox">@SharedLocalizer["Taken topic"]</span>
            }
            @foreach (var programme in topic.TopicRecommendedPrograms)
            {
                <span class="infobox">@Html.SelectStringByLanguage(programme.Programme.NameEng, programme.Programme.Name)</span>
            }
        </div>
        
        <div class="topic__description">
            @Html.SelectStringByLanguage(topic.DescriptionShortEng, topic.DescriptionShort)
        </div>
        <hr/>
    </div>
}
