@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Extensions
@model IEnumerable<TOS.Models.Topic>

@{
    ViewData["Title"] = @SharedLocalizer["Topic_Index_Heading_" + (string) ViewData["topicsIndexGroupName"]!];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Topic_Index_Heading_"+(string)ViewData["topicsIndexGroupName"]!]</h1>

@if (User.IsInRole("Topic") || User.IsInRole("AnyTopic"))
{
    <p>
    <a class="btn btn-primary" asp-action="Create" asp-route-groupName="@ViewData["topicsIndexGroupName"]">@SharedLocalizer["Topic_Index_Create"]</a>
    </p>
}
@if (User.IsInRole("ProposeTopic"))
{
    <p>
        <a class="btn btn-primary" asp-action="Propose" asp-route-groupName="@ViewData["topicsIndexGroupName"]">@SharedLocalizer["Topic_Index_Propose"]</a>
    </p>
}

<form asp-action="Index" method="get">
    <input type="hidden" name="groupName" value="@ViewData["topicsIndexGroupName"]"/>
    <div class="row g-1 align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control" name="searchString" placeholder="Search string..." value="@ViewData["searchString"]"/>
        </div>

        <div class="form-check col-auto">
            <label for="showTaken">@SharedLocalizer["Topic_Index_ShowTaken"]</label>
            @if ((bool) ViewData["showTakenTopics"]!)
            {
                <input class="form-check-input" name="showTakenTopics" id="showTaken" type="checkbox" value="true" checked/>
            }
            else
            {
                <input class="form-check-input" name="showTakenTopics" id="showTaken" type="checkbox" value="true"/>
            }
        </div>
        
        <div class="col-auto">
            <select class="form-select" name="programmeName">
                <option value="">@SharedLocalizer["Topic_Index_AllProgrammes"]</option>
                @foreach (var programme in (List<Programme>)ViewData["programmes"]!)
                {
                    @if ((string)ViewData["selectedProgramme"]! == programme.NameEng)
                    {
                        <option value="@programme.NameEng" selected>@Html.SelectStringByLanguage(programme.NameEng, programme.Name)</option>
                    }
                    else
                    {
                        <option value="@programme.NameEng">@Html.SelectStringByLanguage(programme.NameEng, programme.Name)</option>
                    }
                }
            </select>
        </div>
        
        <div class="col-auto">
            <label for="orderBy">@SharedLocalizer["Topic_Index_OrderBy"]</label>
        </div>
        <div class="col-auto">
            <select class="form-select" id="orderBy" name="orderBy">
                @Html.SelectOption("Supervisor", @SharedLocalizer["orderBySupervisor"].Value, (string) ViewData["orderBy"]!)
                @Html.SelectOption("Name", @SharedLocalizer["orderByName"].Value, (string) ViewData["orderBy"]!)
                @Html.SelectOption("Interest", @SharedLocalizer["orderByInterest"].Value, (string) ViewData["orderBy"]!)
            </select>
        </div>
        
        <div class="col-auto">
            <input type="submit" class="btn btn-primary" value="@SharedLocalizer["Topic_Index_Search"]"/>
        </div>

    </div>

    @if (User.IsInRole("Topic") || User.IsInRole("AnyTopic"))
     {
         <div class="row g-3 align-items-center mx-auto">
             <div class="col-auto form-check">
                 <label for="showHidden">@SharedLocalizer["Topic_Index_ShowHidden"]</label>
                 @if ((bool) ViewData["showHidden"]!)
                 {
                     <input class="form-check-input" name="showHidden" id="showHidden" type="checkbox" value="true" checked/>
                 }
                 else
                 {
                     <input class="form-check-input" name="showHidden" id="showHidden" type="checkbox" value="true"/>
                 }
             </div>

             <div class="col-auto form-check">
                 <label for="showProposed">@SharedLocalizer["Topic_Index_ShowProposedOnly"]</label>
                 @if ((bool) ViewData["showProposed"]!)
                 {
                     <input class="form-check-input" name="showProposed" id="showProposed" type="checkbox" value="true" checked/>
                 }
                 else
                 {
                     <input class="form-check-input" name="showProposed" id="showProposed" type="checkbox" value="true"/>
                 }
             </div>
         </div>
     }
</form>

<hr/>

@if ((string) ViewData["orderBy"]! == "Supervisor")
{
    @foreach (var supervisor in Model.Where(topic => topic.Supervisor != null).Select(x => x.Supervisor).Distinct().OrderBy(y => y!.LastName!))
    {
        <h2 class="h3">@supervisor!.GetDisplayName()</h2>
        @foreach (var topic in supervisor.SupervisedTopics.Where(topic => Model.Contains(topic)))
        {
            {
                topic.SupervisorId = null;
            }
            <partial name="TopicPreview" model="topic"/>
        }
    }
}
else
{
    @foreach (var topic in Model.Where(topic => Model.Contains(topic))) {
        <partial name="TopicPreview" model="topic"/>
    } 
}


