@using Microsoft.AspNetCore.Mvc.Localization
@using TOS.Resources
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Data
@using TOS.Extensions
@model IEnumerable<TOS.Models.Topic>

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["MyTopics"]</h1>

<div>
    <form asp-action="MyTopics" method="get">
        <input type="hidden" name="groupName" value="@ViewData["topicsIndexGroupName"]"/>
        <input type="text" name="searchString" placeholder="Search string..." value="@ViewData["searchString"]"/>
        <label>Show hidden topics</label>
        @if ((bool) ViewData["showHidden"]!)
        {
            <input name="showHidden" type="checkbox" value="true" checked/>
        }
        else
        {
            <input name="showHidden" type="checkbox" value="true"/>
        }
        <input type="submit" value="Search"/>
    </form>
</div>

<h4>@SharedLocalizer["Bachelor theses"]</h4>
@foreach (var topic in Model.Where(x=>x.Type == TopicType.Thesis && x.Group.NameEng == "Bachelor"))
{
    <partial name="TopicPreview" model="topic"/>
}

<h4>@SharedLocalizer["Master theses"]</h4>
@foreach (var topic in Model.Where(x=>x.Type == TopicType.Thesis && x.Group.NameEng == "Master"))
{
    <partial name="TopicPreview" model="topic"/>
}

@foreach (var group in Model.Where(x => x.Type != TopicType.Thesis).Select(g => g.Group).Distinct())
{
    @if (group.Topics.Any(x => x.Type == TopicType.Homework))
    {
        <h4>@Html.SelectStringByLanguage(group.NameEng, group.Name)</h4>
        <h5>@SharedLocalizer["Homeworks"]</h5>
        @foreach (var topic in Model.Where(x => x.Group == group && x.Type == TopicType.Homework))
        {
            <partial name="TopicPreview" model="topic"/>
        }
    }
    @if (group.Topics.Any(x => x.Type == TopicType.Project))
    {
        <h5>@SharedLocalizer["Projects"]</h5>
        @foreach (var topic in Model.Where(x => x.Group == group && x.Type == TopicType.Project))
        {
            <partial name="TopicPreview" model="topic"/>
        }
    }
    <hr/>
}