@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Data
@using TOS.Extensions
@model TOS.ViewModels.MyTopicsViewModel

@{
    ViewData["Title"] = SharedLocalizer["Topic_MyTopics_Heading"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Topic_MyTopics_Heading"]</h1>

<form asp-action="MyTopics" method="get">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control" name="searchString" placeholder="@SharedLocalizer["Topic_MyTopics_SearchPlaceholder"]" value="@Model.SearchString"/>
        </div>

        @if (User.IsInRole("ProposeTopic"))
        {
            <div class="col-auto form-check">
                <label for="showProposed">@SharedLocalizer["Topic_MyTopics_ShowProposed"]</label>
                <input class="form-check-input" name="showProposed" id="showProposed" type="checkbox" value="true" @Html.Raw(Model.ShowProposedTopics ? "checked" : "")/>
            </div>
        }
    
        @if (User.IsInRole("Topic") || User.IsInRole("AnyTopic"))
        {
            <div class="col-auto form-check">
                <label for="showHidden">@SharedLocalizer["Topic_MyTopics_ShowHidden"]</label>
                <input class="form-check-input" name="showHidden" id="showHidden" type="checkbox" value="true" @Html.Raw(Model.ShowHiddenTopics ? "checked" : "")/>
            </div>
        }
    
        <div class="col-auto">
            <input type="submit" class="btn btn-primary" value="@SharedLocalizer["Topic_Index_Search"]"/>
        </div>
    </div>
</form>

<hr/>

<div class="accordion" id="accordionPanelsStayOpenExample">
    @foreach (var g in new[] {"Unassigned", "Bachelor", "Master"})
    {
        @if (Model.Topics.Any(x => x.Type == TopicType.Thesis && x.Group.NameEng == g))
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="@("heading" + g)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@("#" + g)" aria-expanded="true" aria-controls="@(g)">
                        @SharedLocalizer[g + " theses"]
                    </button>
                </h2>
                <div id="@(g)" class="accordion-collapse collapse" aria-labelledby="@("heading" + g)" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @foreach (var topic in Model.Topics.Where(x => x.Type == TopicType.Thesis && x.Group.NameEng == g))
                        {
                            <partial name="TopicPreview" model="topic"/>
                        }
                    </div>
                </div>
            </div>
        }
    }
    @foreach (var group in Model.Topics.Where(x => x.Type != TopicType.Thesis).Select(g => g.Group).Distinct())
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading@(group.GroupId)">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collpase@(group.GroupId)" aria-expanded="false" aria-controls="collpase@(group.GroupId)">
                    @Html.SelectStringByLanguage(group.NameEng, group.Name)
                </button>
            </h2>
            <div id="collpase@(group.GroupId)" class="accordion-collapse collapse" aria-labelledby="heading@(group.GroupId)" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @if (Model.Topics.Any(x => x.GroupId == group.GroupId && x.Type == TopicType.Homework))
                    {
                        <h3>@SharedLocalizer["Group_Homework"]</h3>
                        @foreach (var topic in Model.Topics.Where(x => x.Group == group && x.Type == TopicType.Homework))
                        {
                            <partial name="HomeworkPreview" model="topic"/>
                        }
                    }
                    @if (Model.Topics.Any(x => x.GroupId == group.GroupId && x.Type == TopicType.Project))
                    {
                        <h3>@SharedLocalizer["Group_Projects"]</h3>
                        @foreach (var topic in Model.Topics.Where(x => x.GroupId == group.GroupId && x.Type == TopicType.Project))
                        {
                            <partial name="ProjectPreview" model="topic"/>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>