@using Microsoft.AspNetCore.Mvc.Localization
@using TOS.Resources
@using System.Collections
@using System.Globalization
@using TOS.Extensions
@model TOS.Models.Topic

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Propose</h1>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Propose" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Type" value="@ViewData["TopicType"]"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameEng" class="control-label"></label>
                <input asp-for="NameEng" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DescriptionShort" class="control-label"></label>
                <input asp-for="DescriptionShort" class="form-control" />
                <span asp-validation-for="DescriptionShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionShortEng" class="control-label"></label>
                <input asp-for="DescriptionShortEng" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLong" class="control-label"></label>
                <input asp-for="DescriptionLong" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLongEng" class="control-label"></label>
                <input asp-for="DescriptionLongEng" class="form-control" />
            </div>

            @if (!User.IsInRole("External"))
            {
                <!--Group-->
                <div class="form-group">
                    <label asp-for="GroupId" class="control-label"></label>
                    <select asp-for="GroupId" class="form-control" onchange="RefreshProgrammes()">
                        @foreach (Group group in ViewBag.Groups)
                        {
                            if (group.Highlight)
                            {
                                <option value="@group.GroupId" selected="selected">@Html.SelectStringByLanguage(group.NameEng, group.Name)</option>
                            }
                            else
                            {
                                <option value="@group.GroupId">@Html.SelectStringByLanguage(group.NameEng, group.Name)</option>
                            }
                        }
                    </select>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="GroupId" value="-1"/>
            }

            <!--Attachments-->
            <div>
                <h2>@SharedLocalizer["Attachments"]</h2>
                <!-- FILE SELECT-->
                <input type="file" name="files" multiple>
            </div>

            <div class="form-group">
                <input type="submit" value="Propose" class="btn btn-primary"/>
            </div>
          
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}