@using TOS.Extensions
@model TOS.Models.Topic

@{
    ViewData["Title"] = SharedLocalizer["Topic_Propose_Heading"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Topic_Propose_Heading"]</h1>

<form asp-action="Propose" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Type" value="@ViewData["TopicType"]"/>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">@SharedLocalizer["Topic_Create_Name"]*</label>
        <input asp-for="Name" class="form-control" autocomplete="off"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NameEng" class="form-label">@SharedLocalizer["Topic_Create_NameEng"]</label>
        <input asp-for="NameEng" class="form-control" autocomplete="off"/>
        <span asp-validation-for="NameEng" class="text-danger"></span>
    </div>
    <div cclass="mb-3">
        <label asp-for="DescriptionShort" class="form-label">@SharedLocalizer["Topic_Create_DescriptionShort"]*</label>
        <textarea asp-for="DescriptionShort" class="form-control"></textarea>
        <span asp-validation-for="DescriptionShort" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DescriptionShortEng" class="form-label">@SharedLocalizer["Topic_Create_DescriptionShortEng"]</label>
        <textarea asp-for="DescriptionShortEng" class="form-control"></textarea>
        <span asp-validation-for="DescriptionShortEng" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DescriptionLong" class="form-label">@SharedLocalizer["Topic_Create_DescriptionLong"]</label>
        <textarea asp-for="DescriptionLong" class="form-control" style="height: 100px;"></textarea>
        <span asp-validation-for="DescriptionLong" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DescriptionLongEng" class="form-label">@SharedLocalizer["Topic_Create_DescriptionLongEng"]</label>
        <textarea asp-for="DescriptionLongEng" class="form-control" style="height: 100px;"></textarea>
        <span asp-validation-for="DescriptionLongEng" class="text-danger"></span>
    </div>

    @if (!User.IsInRole("External"))
    {
        <div class="mb-3">
            <label asp-for="GroupId" class="form-label">@SharedLocalizer["Topic_Create_Group"]</label>
            <select asp-for="GroupId" class="form-select">
                @foreach (Group group in ViewBag.Groups)
                {
                    @if (group.Highlight)
                    {
                        <option value="@group.GroupId" selected>@Html.SelectStringByLanguage(group.NameEng, group.Name)</option>

                    }
                    else
                    {
                        <option value="@group.GroupId">@Html.SelectStringByLanguage(group.NameEng, group.Name)</option>
                    }
                }
            </select>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="GroupId" value="-1"/>
    }

    <!--Attachments-->
    @if (User.IsInRole("Attachment") || User.IsInRole("AnyAttachment"))
    {
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">@SharedLocalizer["Topic_Create_Attachment"]</label>
            <input type="file" id="formFileMultiple" class="form-control" name="files" multiple>
        </div>
    }

    <div class="mb-3">
        <a asp-controller="Topic" asp-action="Details" asp-route-id="@ViewData["ReturnGroup"]" class="btn btn-secondary">@SharedLocalizer["Cancel"]</a>
        <input type="submit" value="@SharedLocalizer["Topic_Create_Submit"]" class="btn btn-primary"/>
    </div>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}