@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<TOS.Models.Topic>

@{
    ViewData["Title"] = SharedLocalizer["Topic_Index_Heading_Unassigned"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Topic_Index_Heading_Unassigned"]</h1>


<form asp-action="Proposed" method="get">
    <div class="row g-1 align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control" name="searchString" placeholder="@SharedLocalizer["Topic_Index_Search_Placeholder"]" value="@ViewData["searchString"]"/>
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-primary" value="@SharedLocalizer["Topic_Index_Search_Submit"]"/>
        </div>
    </div>
</form>

<hr/>

@if (Model.Any(x => x.Creator.UserRoles.Any(y => y.Role.Name == "External")))
{
    <h2 class="h3">@SharedLocalizer["Proposed_External"]</h2>

    @foreach (var topic in Model.Where(x=>x.Creator.UserRoles.Any(y=>y.Role.Name == "External")))
    {
        <partial name="ProposedTopicPreview" model="topic"/>
    }
}

@if (Model.Any(x => x.Creator.UserRoles.Any(y => y.Role.Name == "Student")))
{
    <hr class="border border-primary border-3 opacity-75"/>
    <h2 class="h3">@SharedLocalizer["Proposed_Student"]</h2>
    
    @foreach (var topic in Model.Where(x=>x.Creator.UserRoles.Any(y=>y.Role.Name == "Student")))
    {
        <partial name="ProposedTopicPreview" model="topic"/>
    }
}