@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Data
@model TOS.Models.Programme

@{
    ViewData["Title"] = SharedLocalizer["Administration_CreateProgramme_Heading"];
}

<h1>@SharedLocalizer["Administration_CreateProgramme_Heading"]</h1>

<form asp-action="CreateProgramme">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">@SharedLocalizer["Administration_Programmes_Name"]*</label>
        <input asp-for="Name" class="form-control" autocomplete="off"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NameEng" class="form-label">@SharedLocalizer["Administration_Programmes_NameEng"]</label>
        <input asp-for="NameEng" class="form-control" autocomplete="off"/>
        <span asp-validation-for="NameEng" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <label asp-for="Active" class="form-check-label">@SharedLocalizer["Administration_Programmes_Active"]</label>
        <input class="form-check-input" asp-for="Active" checked/>
        <span asp-validation-for="Active" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <select class="form-select" asp-for="Type">
            <option value="@ProgramType.Bachelor">@SharedLocalizer["Bachelor_Programme"]</option>
            <option value="@ProgramType.Master">@SharedLocalizer["Master_Programme"]</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <a asp-controller="Administration" asp-action="Programmes" class="btn btn-secondary">@SharedLocalizer["Cancel"]</a>
    <input type="submit" class="btn btn-primary" value="@SharedLocalizer["Administration_CreateProgramme_Submit"]"/>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
