@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Data
@model TOS.Models.Programme

@{
    ViewData["Title"] = SharedLocalizer["Administration_EditProgramme_Heading"];
}

<h1>@SharedLocalizer["Administration_EditProgramme_Heading"]</h1>

@{
    var data = new Tuple<int, string, string, string, string, string, string>
        (Model.ProgrammeId, "DeleteProgramme",
            SharedLocalizer["Administration_EditProgramme_Delete"].Value, SharedLocalizer["Administration_EditProgramme_Delete_Title"].Value,
            SharedLocalizer["Administration_EditProgramme_Delete_Body"].Value, 
            SharedLocalizer["Administration_EditProgramme_Delete_Cancel"].Value, SharedLocalizer["Administration_EditProgramme_Delete_Confirm"].Value);
        
    <partial name="DeleteModal" model="@data"/>
}

<form asp-action="EditProgramme">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProgrammeId" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">@SharedLocalizer["Administration_Programmes_Name"]</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NameEng" class="form-label">@SharedLocalizer["Administration_Programmes_NameEng"]</label>
        <input asp-for="NameEng" class="form-control" />
        <span asp-validation-for="NameEng" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <label asp-for="Active" class="form-check-label">@SharedLocalizer["Administration_Programmes_Active"]</label>
        <input class="form-check-input" asp-for="Active"/>
        <span asp-validation-for="Active" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <select class="form-select" asp-for="Type">
            <option value="@ProgramType.Bachelor">@SharedLocalizer["Bachelor"]</option>
            @if (Model.Type == ProgramType.Master)
            {
                <option selected value="@ProgramType.Master">@SharedLocalizer["Master"]</option>
            }
            else
            {
                <option value="@ProgramType.Master">@SharedLocalizer["Master"]</option>
            }
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    
    <input type="submit" class="btn btn-primary" value="@SharedLocalizer["Administration_EditProgramme_Submit"]"/>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
