@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TOS.Models.Notification

@{
    ViewData["Title"] =SharedLocalizer["Administration_EditNotification_Heading"];
}

<h1>@SharedLocalizer["Administration_EditNotification_Heading"]</h1>

<p>@SharedLocalizer["Administration_EditNotification_Tutorial"]</p>
<p>
    [URL]<br/>
    [TOPIC_NAME],[TOPIC_NAME_ENG],[TOPIC_SHORT_DESCRIPTION]<br/>
    [TOPIC_SHORT_DESCRIPTION_ENG],[TOPIC_LONG_DESCRIPTION],[TOPIC_LONG_DESCRIPTION_ENG]<br/>
    [TOPIC_CREATOR],[TOPIC_CREATOR_EMAIL]<br/>
    [TOPIC_SUPERVISOR],[TOPIC_SUPERVISOR_EMAIL]<br/>
    [TOPIC_ASSIGNED],[TOPIC_ASSIGNED_EMAIL]<br/>
    [TOPIC_TYPE],[TOPIC_TYPE_ENG]<br/>
    [COMMENT_AUTHOR],[COMMENT_AUTHOR_EMAIL],[COMMENT_TEXT],[COMMENT_DATE]
</p>

<form asp-action="EditNotification">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="NotificationId" />
    <input type="hidden" asp-for="Name"/>
    
    <div class="mb-3">
        <label asp-for="Subject" class="form-label">@SharedLocalizer["Administration_EditNotification_Subject"]</label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SubjectEng" class="form-label">@SharedLocalizer["Administration_EditNotification_SubjectEng"]</label>
        <input asp-for="SubjectEng" class="form-control" />
        <span asp-validation-for="SubjectEng" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Text" class="form-label">@SharedLocalizer["Administration_EditNotification_Text"]</label>
        <textarea asp-for="Text" class="form-control" style="height: 125px"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TextEng" class="form-label">@SharedLocalizer["Administration_EditNotification_TextEng"]</label>
        <textarea asp-for="TextEng" class="form-control" style="height: 125px"></textarea>
         <span asp-validation-for="TextEng" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="@SharedLocalizer["Administration_EditNotification_Submit"]"/>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
