@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ApplicationUser

@{
    ViewData["Title"] = @SharedLocalizer["Administration_EditRoles_Heading"];
}

<h1>@SharedLocalizer["Administration_EditRoles_Heading"] - @Model.DisplayName</h1>

@if (ViewData["Error"] != null)
{
    <p>@ViewData["Error"]</p>
}

<form asp-action="EditRoles">
    @foreach(var r in ViewData["Roles"] as List<string>)
    {
        <div class="form-check">
            @if ((bool) ViewData[r]!)
            {
                <input type="radio" class="form-check-input" id="@r" name="roleGroup" value="@r" checked/>
            }
            else
            {
                <input type="radio" class="form-check-input" id="@r" name="roleGroup" value="@r"/>
            }
            <label for="@r" class="form-label">@SharedLocalizer[r]</label>
        </div>
    }
    <input type="submit" value="@SharedLocalizer["Administration_EditRoles_Submit"]" class="btn btn-primary" />
</form>