@model IEnumerable<TOS.Models.ApplicationUser>

@{
    ViewData["Title"] = @SharedLocalizer["Administration_Users_Heading"];
}

<h1>@SharedLocalizer["Administration_Users_Heading"]</h1>

<form class="row g-2" asp-action="Users" method="get">
    <div class="col-auto">
        <input type="text" class="form-control" name="searchString" value="@ViewData["searchString"]" placeholder="@SharedLocalizer["Administration_Users_Search_Placeholder"]"/>
    </div>
    <div class="col-auto">
        <input type="submit" class="btn btn-primary mb-1" value="@SharedLocalizer["Administration_Users_Search_Submit"]"/>
    </div>
</form>
<p>
    @SharedLocalizer["Administration_Users_Info"]
</p>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">@SharedLocalizer["Administration_Users_DisplayName"]</th>
        <th scope="col">@SharedLocalizer["Administration_Users_Email"]</th>
        <th scope="col">#</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.GetDisplayName()</td>
            <td>@user.Email</td>
            <td><a asp-controller="Administration" asp-action="EditRoles" asp-route-id="@user.Id">@SharedLocalizer["Administration_Users_EditRoles"]</a></td>
        </tr>
    }
    </tbody>
</table>
