@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model NotificationModel

@{
    ViewData["Title"] = SharedLocalizer["Manage_Notification_Heading"];
    ViewData["ActivePage"] = ManageNavPages.Notification;
}

<h3>@SharedLocalizer["Manage_Notification_Heading"]</h3>

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @foreach (var notification in (ICollection<Notification>) ViewData["Notifications"]!)
            {
                @if (notification.Name == "NewExternalUser" && User.IsInRole("Administrator") || notification.Name != "NewExternalUser")
                {
                    <div class="form-check mb-3">
                        @if (notification.Selected)
                        {
                            <input type="checkbox" class="form-check-input" id="@notification.Name" name="selectedNotifications" value="@notification.NotificationId" checked/>
                        }
                        else
                        {
                            <input type="checkbox" class="form-check-input" id="@notification.Name" name="selectedNotifications" value="@notification.NotificationId"/>
                        }
                        <label class="form-check-label" for="@notification.Name">@SharedLocalizer["Manage_Notification_" + notification.Name]</label>
                    </div>
                }
            }
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">@SharedLocalizer["Manage_Notification_Submit"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}