@model TOS.Models.Group

@{
    ViewData["Title"] = SharedLocalizer["Group_Edit_Heading"];
}

<h1>@SharedLocalizer["Group_Edit_Heading"]</h1>

@if ((User.IsInRole("Group") && User.Identity?.Name == Model.Creator.UserName) || User.IsInRole("AnyGroup"))
{
    {
        var data = new Tuple<int, string, string, string, string, string, string>
            (Model.GroupId, "Delete",
                SharedLocalizer["Group_Edit_Delete"].Value, SharedLocalizer["Group_Edit_Delete_Title"].Value,
                SharedLocalizer["Group_Edit_Delete_Body"].Value, SharedLocalizer["Group_Edit_Delete_Cancel"].Value, SharedLocalizer["Group_Edit_Delete_Confirm"].Value);
        
        <partial name="DeleteModal" model="@data"/>
    }
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="GroupId" />
    <input type="hidden" asp-for="CreatorId"/>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">@SharedLocalizer["Group_Create_Name"]</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NameEng" class="form-label">@SharedLocalizer["Group_Create_NameEng"]</label>
        <input asp-for="NameEng" class="form-control" />
    </div>
    <div class="mb-3 form-check">
        <label class="form-check-label" asp-for="Visible">@SharedLocalizer["Group_Create_Visible"]</label>
        <input class="form-check-input" asp-for="Visible" />
    </div>
    <div class="mb-3">
        <input type="submit" value="@SharedLocalizer["Group_Edit_Submit"]" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
