@using TOS.Extensions
@model IEnumerable<TOS.Models.Group>

@{
    ViewData["Title"] = SharedLocalizer["Group_Index_Heading"];
}

<h1>@SharedLocalizer["Group_Index_Heading"]</h1>

@if (User.IsInRole("Group") || User.IsInRole("AnyGroup"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">@SharedLocalizer["Group_Index_Create"]</a>
    </p>
}

<form class="row g-2 align-items-center" asp-action="Index" method="get">
    <div class="col-auto">
        <input type="text" class="form-control" id="searchInput" name="searchString" placeholder="@SharedLocalizer["Group_Index_Search_Placeholder"]" value="@ViewData["searchString"]" autocomplete="off"/>
    </div>
    @if(User.IsInRole("Group") || User.IsInRole("AnyGroup"))
    {
        <div class="form-check col-auto">
            <label class="form-check-label" for="showHidden">@SharedLocalizer["Group_Index_Search_HiddenGroups"]</label>
            <input type="checkbox" class="form-check-input" id="showHidden" name="showHidden" value="true" @Html.Raw((bool) ViewData["showHidden"]! ? "checked" : "")/>
        </div>
    }
    <div class="col-auto">
        <input type="submit" class="btn btn-primary" value="@SharedLocalizer["Group_Index_Search_Submit"]"/>
    </div>
</form>

<hr/>

@if (Model.Any(x => x.Highlight))
{
    <section>
        <h2>@SharedLocalizer["Group_Index_HighlightGroups"]</h2>
        <div class="list-group">
        @foreach (var group in Model.Where(x => x.Highlight))
        {
            <a class="list-group-item list-group-item-action" asp-controller="Topic" asp-action="Group" asp-route-groupId="@group.GroupId">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        @Html.SelectStringByLanguage(group.NameEng, group.Name)
                    </div>
                    @group.Creator.GetDisplayName()
                </div>
            </a>
        }
        </div>
    </section>
}

@if (Model.Any(x => x.Highlight == false))
{
    <section>
        <h2>@SharedLocalizer["Group_Index_OtherGroups"]</h2>
        <div class="list-group">
            @foreach (var group in Model.Where(x => x.Highlight == false))
            {
                <a class="list-group-item list-group-item-action" asp-controller="Topic" asp-action="Group" asp-route-groupId="@group.GroupId">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            @Html.SelectStringByLanguage(group.NameEng, group.Name)
                        </div>
                        @group.Creator.GetDisplayName()
                    </div>
                </a>
            }
        </div>
    </section>
}
