@using TOS.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using TOS.Extensions
@model IEnumerable<TOS.Models.Group>

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Index";
}

<h1>@SharedLocalizer["GroupsHeading"]</h1>

@if (User.IsInRole("Group") || User.IsInRole("AnyGroup"))
{
    <a asp-action="Create">Create New</a>
}

<form asp-action="Index" method="get">
    <input type="text" name="searchString" value="@ViewData["searchString"]"/>
    @if(User.IsInRole("Group") || User.IsInRole("AnyGroup"))
    {
        <label>Show hidden groups</label>
        @if ((bool) ViewData["showHidden"]!)
        {
            <input name="showHidden" type="checkbox" value="true" checked/>
        }
        else
        {
            <input name="showHidden" type="checkbox" value="true"/>
        }
    }
    
    <input type="submit" value="Search"/>
</form>

<h3>@SharedLocalizer["Used groups"]</h3>
@foreach (var group in Model.Where(x=>x.Highlight is true)) {
    <div>
        <a asp-action="Group" asp-controller="Topic" asp-route-groupName="@group.NameEng">
            @Html.SelectStringByLanguage(group.NameEng, group.Name)
        </a>
        @group.Topics.Count
    </div>
}

<hr/>
<h3>@SharedLocalizer["Other groups"]</h3>
@foreach (var group in Model.Where(x=> x.Highlight is false)) {
    <div>
        <a asp-action="Group" asp-controller="Topic" asp-route-groupName="@group.NameEng">
            @Html.SelectStringByLanguage(group.NameEng, group.Name)
        </a>
        @group.Topics.Count
    </div>
}

