@{
    ViewData["Title"] = "UPOL - TOS";
}

<div class="text-center">
    <h1>@SharedLocalizer["Home_Index_Heading"]</h1>
    <p>@SharedLocalizer["Home_Index_Text"]</p>
    <a class="link-secondary" href="https://www.inf.upol.cz/">www.inf.upol.cz</a>
</div>

<hr/>

<h2>@SharedLocalizer["Home_Index_All_Heading"]</h2>
<p class="text-danger">@SharedLocalizer["Home_Index_All_Text"]</p>

<hr/>

<h3>@SharedLocalizer["Home_Index_Login_Heading"]</h3>
<div class="row g-5">
    <div class="col-lg-6">
        <h4>@SharedLocalizer["Home_Index_Login_Upol_Heading"]</h4>
        <p>
            @SharedLocalizer["Home_Index_Login_Upol_Text"]
        </p>
    </div>
    <div class="col-lg-6">
        <h4>@SharedLocalizer["Home_Index_Login_External_Heading"]</h4>
        <p>
            @SharedLocalizer["Home_Index_Login_External_Text"]
        </p>
    </div>
</div>

<h3>@SharedLocalizer["Home_Index_Notification_Heading"]</h3>
<p>
    @SharedLocalizer["Home_Index_Notification_Text"]
</p>

<h3>@SharedLocalizer["Home_Index_Groups_Heading"]</h3>
<p>
    @SharedLocalizer["Home_Index_Groups_Text"]
</p>